main {
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 175%;
  color: white;
  background: #16161d;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 0.85em;
  letter-spacing: 1.2;
  margin: 0;
}

h2 {
  font-style: italic;
  font-size: 0.85em;
  margin: 0;
  margin-bottom: 1em;
  opacity: 0.6;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

a {
  color: #0683d4;
  text-decoration: none;
}
